:root {
  --main-color: #ffffffae;
  /* --box-shadow:rgb(100, 100, 247); */
  --box-shadow: #f3ae93;
  --base-color: #e76430;
  --secendary-color: #30E764;
  --secendary-shawdow:#88f5a7;
  --thirt-color:#6430E7;
}
